# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/
Archive/

# Ignore the Gemfile that is generated
Gemfile.lock

# local files
._.DS_Store
._index
.DS_Store

# Ingore files created by npm
node_modules
package-lock.json